<% if logged_in? %>
	<div class="row">
		<aside class="col-md-4">
			<section class="user_info">
				<%= render 'shared/user_info' %>
			</section>
			<section class="stats">
				<%= render 'shared/stats' %>
			</section>
			<section class="micropost_form">
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="col-md-8">
			<h3>Recently posted Artworks</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class= "row text-center">
		<h1 class= 'welcome'>An online art gallery and marketplace</h1>
		<br>
		<div class = "col-sm-4">
			<span class="glyphicon glyphicon-user logo-small"></span>
			<h3>Browse artworks from local artists</h3>
		</div>
		<div class = "col-sm-4">
			<span class="glyphicon glyphicon-upload logo-small"></span>
			<h3>Upload your own artworks</h3>
		</div>
		<div class = "col-sm-4">
			<span class="glyphicon glyphicon-comment logo-small"></span>
			<h3>Let them know if you are interested in purchasing</h3>
		</div>
	</div>
	<div class= "row text-center">
		<br>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary inline-block center" %>
	</div>
<% end %>