<% if logged_in? %>
	<div class="container-fluid">
		<aside class="col-md-5">
			<section class="user_info">
				<%= render 'shared/user_info' %>
			</section>
			<section class="stats">
				<%= render 'shared/stats' %>
			</section>
		</aside>

		<section class="micropost_form col-md-6 col-md-offset-1">
			<%= render 'shared/micropost_form' %>
		</section>
	</div>
	<br>
	<br>
	<div class="container-fluid">
		<header class="w3-container w3-teal">
			<h2><center>Recently posted artworks</center></h2>
		</header>
		<br><br>
	</div>

	<%= render 'shared/feed' %>
	
<% else %>
	<div class="bg"> </div>
	<div class="jumbotron">
		<h1>Your online artgallery and marketplace</h1>
	</div>
	
	<%= render 'shared/top_artists' %>
	<br><br>
	<%= render 'shared/top_artworks' %>
	<br><br>
	<%= render 'shared/final_features' %>

<% end %>


<script>
	var jumboHeight =$('.jumbotron').outerHeight();
	function parallax(){
		var scrolled = $(window).scrollTop();
		$('.bg').css('height', (jumboHeight-scrolled) + 'px');
	}

	$(window).scroll(function(e){
		parallax();
	});
</script>