<% if logged_in? %>
	<aside class="col-md-5">
		<section class="user_info">
			<%= render 'shared/user_info' %>
		</section>
		<section class="stats">
			<%= render 'shared/stats' %>
		</section>

		<section class="micropost_form col-md-8">
			<%= render 'shared/micropost_form' %>
		</section>
	</aside>

	<h2>Recently posted artworks</h2>
	<%= render 'shared/feed' %>

<% else %>
	<div class="bg"> </div>
	<div class="jumbotron">
		<h1>Artpraiser</h1>
		<h2>Online art gallery and marketplace</h2>
		<p>Sign up now to upload your artworks
			and easily connect with artists and buyers alike.</p>
		<%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
	</div>

	<div class= "container-fluid">
		<h1 class= "center">
			Featured
		</h1>
		<h3 class= "center">Support your local artists,
			here are some of their artworks</h3>
		<div class= "container">
			<%= render @micropost %>
		</div>
	</div>
<% end %>

<script>
	var jumboHeight =$('.jumbotron').outerHeight();
	function parallax(){
		var scrolled = $(window).scrollTop();
		$('.bg').css('height', (jumboHeight-scrolled) + 'px');
	}

	$(window).scroll(function(e){
		parallax();
	});
</script>
