<% provide(:title, 'All Artists') %>
	<div class="row">
		<h1>Browse Artists</h1>

		<%= render 'search_form' %>
		<br>
	</div>
	<h1>Our Artists</h1>
	<br>
	<% @users.each do |user| %>
		<ul class="w3-ul w3-card-4">
			<li class="w3-padding-16">
				<% if logged_in? && current_user.admin? && !current_user?(user) %>
					<button class="w3-btn w3-right w3-round -xxlarge"><%= link_to "delete", user, method: :delete, data: { confirm: "You sure?"} %></button>
				<% end %>

				<class="w3-left w3-circle w3-margin-right" style="width:60px"><%= gravatar_for user %>
				<span class="w3-xlarge"><%= link_to user.name, user %></span><br>
				<span>
					<% if !user.user_detail.country.blank? %>
						 <%= ISO3166::Country.find_country_by_alpha2(user.user_detail.country).name %></span><br>
					<% else %>
					<% end %>
				</span><br>
				<span> <%= user.user_detail.medium %> </span>
			</li>
		</ul>
	<% end %>
	<%= will_paginate %>
