<%= form_for(@micropost, html: { multipart: true }) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<div class="field">
		<%= f.label :content, "Description" %>
		<%= f.text_area :content, placeholder: "Describe your artwork..." %>
	</div>
	
	<span class='picture'>
	    <%= f.label :picture %>
		<%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
		<p class="help-block">Upload a picture (jpg, png or gif) less than 5MB</p>
	</span>
	
	<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
$('#micropost_picture').bind('change', function() {
	size_in_megabytes = this.files[0].size/1024/1024;
	if(size_in_megabytes > 5) {
		alert('Maximum file size is 5MB. Please choose a smaller file.');
	}
})
</script>