<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    'application', media: 'all',
	  							 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application',
	  							 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
		<%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>

		<meta content='<%= logged_in? ? current_user.id : "" %>' name='user-id'/>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class = "container-fluid">
			<div class = "container">
			<% flash.each do |message_type, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-#{message_type}") %>
			<% end %>
				<%= yield %>
			</div>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
	<% if current_user %>
   	<script type="text/javascript">
        channel = <%= raw ('"' + '/notifications' + current_user.id.to_s + '"') %>
        PrivatePub.subscribe(channel, function(data) {

        var sender_id = data.sid;
        var recipient_id = data.rip;
        var conversation_id = data.cid;

        $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id }, function (data) {
            chatBox.chatWith(conversation_id);
        });

        });
    </script>
    <%= subscribe_to "/notifications" + current_user.id.to_s %>
    <% end %>
</html>
